[submodule "tmux/plugins/tmux-gruvbox"]
  path = tmux_plugins/tmux-gruvbox
  url = https://github.com/egel/tmux-gruvbox

  
[submodule "tmux/plugins/tmux-sensible"]
  path = tmux_plugins/tmux-sensible
  url = https://github.com/tmux-plugins/tmux-sensible

[submodule "tmux/plugins/tmux-yank"]
	path = tmux_plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
